<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/demo.css'%}">
</head>
<body>
<nav class="navbar">
    <a class="navbar" href="">Mahesh News </a>
    <div class="container">
    <ul class="navbar-nav">
        <li><a class="navbar" href="/movie">movies</a></li>
        <li><a class="navbar" href="/sports">sports</a></li>
        <li><a class="navbar" href="/politics">politics</a></li>
    </ul>
    </div>
</nav>
{% block body_block %}
{% endblock %}
</body>
</html>